node_modules

/.cache
/build
/dist/
/public/build
/.env
/.react-router
# Local Netlify folder
.netlify


/.vscode
.vscode/launch.json

*.tsbuildinfo

.claude/settings.Local.json

.playwright-mcp/
playwright-report/
test-results/

.impeccable/
